.dashboard{
    height: 100%;
}

.container{
    height: calc(100vh - 64px);
    width: 100%;
    background-color: bisque;
    display: flex;
    /* .left{
        height: 100%;
        width: 200px;
        background-color: white;
    } */
    .coreContainer{
        height: 100%;
        flex: 1;
        background-color: bisque;
        width: calc(100% - 200px);
    }
    
}

.left {
    height: 100%;
}

.errorDetail{
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
    height: 524px;
    display: flex;
    .panel{
        height: 100%;
        border-radius: 10px;
        width: 80%;
        background: #ffffff;
    }
    .panelList{
        height: 100%;
        border-radius: 10px;
        margin-left: 12px;
        width: calc(20% - 12px);
        background: #ffffff;
    }
}