@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .router-link {
    @apply text-sm leading-9 pl-2 hover:bg-[#ebebeb] hover:text-[#2680ff] hover:cursor-pointer;
  }
}