@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  /* color: rgb(var(--foreground-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .router-link {
    @apply mr-4 text-sm leading-9 pl-2 hover:bg-[#fef4e1] hover:text-[#ffbf75] hover:cursor-pointer;
  }
  .router-link-active{
    @apply  bg-[#fef4e1] text-[#ffbf75]
  }
}