.dashboard {
  height: 100%;
}
.container {
  height: calc(100vh - 64px);
  width: 100%;
  background-color: #fff;
  display: flex;
  .left {
    height: 100%;
    /* width: 200px; */

    width: 16rem;
    background-color: #fff;
  }
  .coreContainer {
    height: 100%;
    /* flex: 4; */
    background-color: #f9fafb;
    width: calc(100% - 16rem);
    padding: 20px;
    .content {
      background-color: #fff;
      padding: 20px;
      width: 100%;
      height: 100%;
    }
  }
}

.left {
  height: 100%;
}
